body {
  background-color: #e3eef6;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  color: #5e5e7a;
}

.cases {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.case1 {
  width: 270px;
  height: 400px;
  box-shadow: 0px 0px 8px -2px rgba(94, 94, 94, 0.48);
  border-radius: 6px;
  background-color: white;
  text-align: center;
  padding: 15px;
}

.case2 {
  width: 270px;
  height: 400px;
  box-shadow: 0px 0px 8px -2px rgba(94, 94, 94, 0.48);
  border-radius: 6px;
  background-color: white;
  text-align: center;
  padding: 15px;
}

.case3 {
  width: 270px;
  height: 400px;
  box-shadow: 0px 0px 8px -2px rgba(94, 94, 94, 0.48);
  border-radius: 6px;
  background-color: white;
  text-align: center;
  padding: 15px;
}

.case4 {
  width: 270px;
  height: 400px;
  box-shadow: 0px 0px 8px -2px rgba(94, 94, 94, 0.48);
  border-radius: 6px;
  background-color: white;
  text-align: center;
  padding: 15px;
}

.case5 {
  width: 270px;
  height: 400px;
  box-shadow: 0px 0px 8px -2px rgba(94, 94, 94, 0.48);
  border-radius: 6px;
  background-color: white;
  text-align: center;
  padding: 15px;
}

.case6 {
  width: 270px;
  height: 400px;
  box-shadow: 0px 0px 8px -2px rgba(94, 94, 94, 0.48);
  border-radius: 6px;
  background-color: white;
  text-align: center;
  padding: 15px;
}

.case7 {
  width: 270px;
  height: 400px;
  box-shadow: 0px 0px 8px -2px rgba(94, 94, 94, 0.48);
  border-radius: 6px;
  background-color: white;
  text-align: center;
  padding: 15px;
}

.case8 {
  width: 270px;
  height: 400px;
  box-shadow: 0px 0px 8px -2px rgba(94, 94, 94, 0.48);
  border-radius: 6px;
  background-color: white;
  text-align: center;
  padding: 15px;
}

.icone {
  padding: 35px 0 35px 0;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

hr {
  width: 30%;
  margin-bottom: 30px;
  border-top: 1px solid #5e5e7a;
}

.links:hover ~ hr {
  border: 5px solid black;
}

p {
  margin-bottom: 30px;
}

.links {
  border-radius: 25px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  color: #5e5e7a;
  font-size: 17px;
  padding: 16px 31px;
}
.links:hover {
  background-color: #14a0f3;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  -webkit-box-shadow: 0px 13px 20px -5px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 13px 20px -5px rgba(0, 0, 0, 0.46);
}

article:hover {
  -webkit-box-shadow: 0px 9px 32px 6px rgba(84, 90, 112, 0.43);
  box-shadow: 0px 9px 32px 6px rgba(84, 90, 112, 0.43);
}
